.body_home, .body_login{
  background-image:url(../img/big.jpg) ;
  background-size: cover;
  background-attachment: fixed;
}
.black_fill{
  background: rgba(0,0,0,0.5);
  min-height: 100vh;
}
#homenav{
  background: rgba(255,255,255,0.5) !important;
}
.welcome-text{
  min-height: 80vh;
  
}
.welcome-text img{
  width:100px;
}
.welcome-text h4{
  color: #eee;
  font-size: 51px;
  font-family: cambria;
}
.welcome-text p{
  color: #222;
  background: rgba(255,255,255,0.5) !important;
  padding:4px ;
  border-radius: 5px;
}
#about{
  min-height: 100vh;
}
#about .card-1{
  max-width: 600px;
  width: 90%;
  background: rgba(255,255,255,0.5) !important ;
  padding: 20px;
  border-radius: 5px;
  font-size: 32px;
}
#about .card-1 h5{
  font-family: cambria;
}
#contact form{
  max-width: 600px;
  width: 90%;
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 5px;
}
#contact form h3{
  font-family: cambria;
  text-align: center;
}
text-area{
  resize: none;
}
.login{
  max-width: 600px;
  width: 90%;
  background: rgba(255,255,255,0.5);
  padding: 10px;
  border-radius: 10px;
}
.login h3{
  text-align: center;
  font-size:50px ;
}